.modalWindow{
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: 0.5s;
    z-index:0
}

.modalWindowActive {
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    left: 0;
    display: grid;
    justify-content: center;
    align-items: center;
    opacity: 1;
    transition: 1s;
    z-index:10
}

.modalWindowContext{
    padding: 1vh;
    border-radius: 12px;
    background-color: white;
    border: gray 1px solid;
    transform: scale(0);
    transition: 1s;
}

.modalWindowContextActive{
    padding: 1vh;
    border-radius: 12px;
    background-color: white;
    border: gray 1px solid;
    transform: scale(1);
    transition: 0.5s;
}



.modalHeader{
    display: grid;
    justify-content: center;
    font-size: 2em;
    margin-bottom: 1em;
}

.modalItem{
    font-size: 1.3em;
}