.AppForm{
    display: grid;
    justify-content:stretch;
    justify-self: stretch;
    justify-items: stretch;
}
.Header{
    margin-top: 3vh;
    margin-bottom: 3vh;
    display: grid;
    padding: 1em;
    font-size: 3em;
    justify-self: center;
}

.Form{
    margin: 5px 4em;
    border: gray 1px solid;
    border-radius: 5px;
    box-shadow: 0 0 30px rgba(0,0,0,0.5);
    padding-bottom: 3em;
}

.Footer{
    display: grid;
    padding: 1em;
    font-size: 1.5em;
    justify-self: center;
}