.payForm{
    display:grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: center;
}

.payForm div{
    display: grid;
    font-size: 3em;
    background-color: inherit;
    padding: 10px;
}

.maskInput{
    font-size: 3rem;
}

.textError{
    height: 1em;
    color: red;
    font-size: 1em;
}